:root {
  --white: #f7f7f7;
  --sky_blue: #01acfd;
  --orange: #fea301;
  --black: #111111;
}
.quicksand-normal-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

/* utility classes */

.width-size {
width: 1260px;
  margin: 0px auto;
}

.primary-bg {
  background: rgb(247, 247, 247);
}

.display-flex {
  display: flex;
}

.flex-property {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 40px;
}

.link-font-size {
  font-size: 1.25rem;
}

.link-font-home {
  font-weight: 700;
  color: var(--orange);
}

.nav-container {
  height: 100px;
  padding: 0px 120px;
  justify-content: space-between;
  align-items: center;
}

nav .nav-container .icon{
  visibility: hidden;
  /* display: none; */
}

.nav-logo {
  align-items: center;
}

.logo {
  width: 62px;
  height: 62px;
  align-items: center;
}

.logo img {
  width: 100%;
}

.nav-title {
  font-size: 2rem;
  color: var(--black);
}

.nav-item {
  list-style: none;
}

.nav-links {
  align-items: center;
}

.nav-link {
  text-decoration: none;
  margin-left: 32px;
}

.link-font-about {
  color: var(--sky_blue);
  font-weight: 500;
}

.link-font-facilities {
  color: #05d4df;
  font-weight: 500;
}

.link-font-admission {
  color: #5d58ef;
  font-weight: 500;
}

.nav-btn {
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: var(--orange);
  margin-left: 186px;
  padding: 10px 60px;
}

.nav-btn a {
  color: var(--white);
  font-weight: 600;
  text-decoration: none;
}

/* banner section  */

.banner{
  max-width: 1065px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0px auto;
}

.banner-content{
  max-width: 600px;
}

.banner-title-span-1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--orange);
}

.banner-title-span-2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--black);
}

.banner-title-span-3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--sky_blue);
}

.banner-description{
  margin: 24px 0px;
}

.banner-btn {
  border: none;
  border-radius: 12px;
  padding: 10px 47px;
  color: var(--white);
  background-color: var(--black);
  font-size: 1.25rem;
  font-weight: 700;
}

/* curriculum section  */

.Curriculum {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
}

.curriculum-container {
  padding: 0px 110px;
  text-align: center;
}

.curriculum-title {
  margin: 0px;
  padding: 40px 0px;
  font-size: 2.8rem;
  font-weight: 700;
}

.curriculum-items {
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.curriculum-item-1 {
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.curriculum-item-2 {
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.curriculum-item-3 {
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.curriculum-item-img {
  height: 100px;
  width: 100px;
}

.curriculum-item-title {
  font-size: 1.5rem;
  margin-top: 32px;
}

.curriculum-item-description {
  font-size: 0.8rem;
  margin: 32px 0px;
}

.curriculum-item-read-more {
  text-decoration: none;
  font-weight: 700;
}

.text-color-1 {
  color: rgb(100, 200, 255);
}

.text-color-2 {
  color: rgb(240, 170, 0);
}

.text-color-3 {
  color: rgb(135, 0, 255);
}

.slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 60px 60px;
}

.slider-button {
  background-color: orange;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider-btn-style {
  font-weight: bold;
}

/* story section  */

.story {
  background: url(../assets/bg.png),
  linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  text-align: center;
  padding: 40px 100px;
}

.story h2 {
  font-size: 2.8em;
  margin-bottom: 50px;
}

.story-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  justify-items: center;
}

.story-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
}

.story-card img {
  width: 100%;
  object-fit: cover;
}

.story-card .story-content {
  padding: 5px 10px
}

.story-card .date {
  display: inline-block;
  color: #fff;
  padding: 14px 18px;
  border-radius: 47px;
  font-size: 0.8em;
  margin-bottom: 10px;
  position: relative;
}

.position{
  top: -33px;
  left: 18px;
}

.story-1-color{
  background: rgb(60, 216, 232);
}

.story-2-color{
  background: rgb(149, 178, 38);
}

.story-3-color{
  background: rgb(93, 88, 240);}

.story-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.story-card p {
  font-size: 0.9em;
  color: #555;
}

.story-card.large {
  grid-column: span 2;
  grid-row: span 2;
}

.view-all {
  margin-top: 80px;
  margin-bottom: 60px;
  background: var(--black);
  color: var(--white);
  padding: 10px 61px;
  border: none;
  border-radius: 12px;
  font-size: 1em;
  cursor: pointer;
}

.view-all:hover {
  background: #333;
}

/* footer section */

footer {
  min-width: 1260px;
  color: var(--white);
}

.footer-container {
  background-color: var(--sky_blue);
  justify-content: space-between;
  padding: 100px 140px;
  align-items: flex-start;
}

.footer-logo {
  justify-content: start;
  align-items: center;
  font-size: 2.5rem;
}

.footer-logo img {
  width: 71px;
  height: 82px;
}

.footer-logo-title {
  font-weight: 700;
}

.footer-title-description {
  width: 400px;
  color: var(--white);
  font-size: 1.25rem;
  margin-top: 35px;
}

.footer-about-title {
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.footer-about ul li {
  list-style: none;
  margin: 10px 0px;
}

.footer-about ul li a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  margin: 20px 0px;
}

.footer-keep-touch-section-title {
  font-size: 1.5rem;
  margin-bottom: 35px;
}

.footer-keep-touch-section a {
  margin-right: 10px;
}



/* responsive section  */

@media screen and (max-width:576px) {
  .nav-logo h3 , .nav-links{
    visibility: hidden;
    display: none;
  }

  nav{
    border: 1px solid #FEA301;
    padding: 12px 16px;
  }

  .banner{
    flex-direction: column-reverse;
  }
  .banner-image{
    width: 100%;
  }
  .banner-image img{
    width: 100%;
  }

  .banner-content{
    max-width: 600px;
    text-align: center;
  }
  .curriculum-title{
    text-align: center;
  }
  .curriculum-items{
    flex-direction: column;
    padding: 0px 0px;
  }
  .slider-buttons{
    display: none;
  }
  .story1{
    display: none;
  }
  .story-grid{
    grid-template-columns: 1fr 1fr;
  }
  .footer-container{
    flex-direction: column;
    justify-content: center;
  }
  .footer-logo-title{
    font-size: 2.1rem;
  }
}